<!-- Modal Trigger -->
<a href="#modal_yes_no" style="display:none;">Modal</a>

<!-- Modal Structure -->
<div id="modal_yes_no" class="modal">
  <div class="modal-content">
    <h4>Confirmar exclusão</h4>
    <p>Você está prestes a excluir este item.</p>
  </div>
  <div class="modal-footer">
    <a href=""
       class="modal-close waves-effect waves-green btn-flat">
      VOLTAR
    </a>
    <a href="#!"
       class="modal-action waves-effect waves-green btn-flat">
      EXCLUIR
    </a>
  </div>
</div>